.DetailView {
  margin: 70px;
  background-color: rgb(172, 232, 177);
  padding: 30px;
  border-radius: 10px;
}

img {
  width: 400px;
}

#language {
  background-color: rgb(222, 247, 224);
  padding: 10px;
  border-radius: 10px;
}

#thumbsUp {
  cursor: pointer;
}

#actions {
  display: flex;
  justify-content: space-between;
}
