.Form {
  background-color: rgb(195, 246, 199);
  padding: 30px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.formTitle {
  font-size: 18px;
}

.inputTypes {
  margin-bottom: 15px;
}
