.NavBar {
  background-color: rgb(195, 246, 199);
  padding: 10px;
  height: 50px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.Menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.Menu a {
  color: black;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  margin: 0px 10px;
}

.Menu a:hover {
  color: black;
}

.name {
  font-size: 32px;
  color: rgb(102, 174, 107);
}
